@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@{
    var versionNumber = _configuration["Version"];
}
<div class="footer">
    <div class="row justify-content-center">
        <div class="d-sm-flex flex-column">
            <p class="font-size-sm mb-0">ApiServer.Identity - <span class="text-info">Version @versionNumber</span></p>
        </div>
    </div>
</div>